.container{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items:center;  
}
.displaydata{
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 4px gray;
    width: 350px;
    padding-top:10px;
}
.data{
    font-size: 18px;
    padding-left: 30px;
}
.details{
    text-align: center;
    height: 40px;
    margin-top: 10px;
}
.buttons{
    justify-content: space-around;
}
