.eventheader{
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    height:55px;
    border-bottom: 1px solid black;
}
.eventlist{
    margin:auto;
    margin-top:10px;
}
.add{
    margin-left: 60px;
}
.table{
    margin-top:10px;
}
.Close{
    border-radius: 50%;
    margin-left:400px;
    margin-top:3px;
    color:black;
}
.popup{
    position:fixed;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
}
.popup_inner{
    position: absolute;
    border-radius: 8%;
    top:3%;
    left: 28%;
    right: 28%;
    margin: auto;
    background-color:white;
}
/*style={{pointerEvents:"none"}} */